.main {
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.mincho:hover{
  opacity: 50%;
}
.question{
  margin-bottom: 20px;
}

.buttonList{
  margin-top: 30px;
}

.yesButton {
  text-align: center;
  align-content: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  margin-right: 14px;
  color:black;
  border: 1px solid #000000;
  padding: 13px 14px;
  max-width: 450px;
  background-color: transparent;
  box-sizing: border-box;
  text-decoration: none;
}

.yesButton:hover {
  background-color: var(--background-start-rgb);
  color: #3EB489;
  border: 1px solid #3EB489;
}

.noButton {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  margin-right: 14px;
  color:black;
  border: 1px solid black;
  padding: 13px 14px;
  max-width: 450px;
  background-color: transparent;
  box-sizing: border-box;
  text-decoration: none;
}

.noButton:hover {
  color: white;
  border: 1px solid white;
}

.center {
  min-width: 200px;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.logo {
  position: relative;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1500px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
